<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body class="container">
  <header class="clearfix">
    <div class="float-left">
      <a href="https://www.whitehouse.gov/the_press_office/TransparencyandOpenGovernment"><img src="img/LOGOTGIF.jpg"
          alt="TGIFlogo" class="logo"></a>
    </div>
    <div class="float-right">
      <a href="mailto:info@tgif.net?Subject=Hello%20again" target="_top">info@tgif.net</a>
    </div>
  </header>

  <nav class="sticky-top row  col navbar navbar-expand-sm bg-light navbar-light ">
    <div>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html"><b>Home</b></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" href="#"><b>Congress
              113</b></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="senate-data.html"><b>Senate</b></a></li>
            <li><a class="dropdown-item" href="house-data.html"><b>House</b></a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"
            href="#"><b>Attendance</b></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="HouseAttendance.html"><b>House</b></a></li>
            <li><a class="dropdown-item" href="SenateAttendance.html"><b>Senate</b></a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" href="#"><b>Party
              Loyalty</b></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="HousePartyLoyalty.html"><b>House</b></a></li>
            <li><a class="dropdown-item" href="SenatePartyLoyalty.html"><b>Senate</b></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>



  <section>
    <div class="row">
      <article class="col">
        <h4>Party Loyalty</h4>
        <p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans respectively,
          tend to be the most faithful in voting for their party's nominee for office and legislation that backs their
          party's agenda. </p>

      </article>


      <article class="col">
        <h4 class="text-right"> Senate at a galance </h4>
        <table class="table table-bordered text-center table-hover">
          <thead>
            <tr>
              <th>PARTY</th>
              <th>Nº OF REPS</th>
              <th>% VOTED W/ PARTY</th>
            </tr>
          </thead>

          <tbody id="galance">
            <tr v-for="(cadaUno, key) in membe">


              <td>{{cadaUno.Party}}</td>
              <td>{{cadaUno.catidad}}</td>
              <td>{{cadaUno.promedio}}</td>


            </tr>
          </tbody>
        </table>
      </article>

    </div>
    <div class="row">

      <article class="col">
        <h4> Least Engaged (Bottom 10% Attendance) </h4>
        <table class="table table-bordered text-center table-hover">
          <thead>
            <tr>
              <th>NAME</th>
              <th>Nº MISSED VOTES</th>
              <th>% MISSED</th>
            </tr>
          </thead>

          <tbody id="bottomLoyal">
            <tr v-for="(cadaUno, key) in ordenadoB.reverse()" v-if="key < (ordenadoB.length*0.10)">


              <td><a v-bind:href="cadaUno.url">{{cadaUno.last_name}} {{cadaUno.first_name}} {{cadaUno.middle_name}}</a></td>
              <td>{{cadaUno.total_votes}}</td>
              <td>{{cadaUno.votes_with_party_pct}}</td>


            </tr>
          </tbody>
        </table>
      </article>

      <article class="col">
        <h4>Most Engaged (Top 10% Attendance)</h4>
        <table class="table table-bordered text-center table-hover">
          <thead>
            <tr>
              <th>NAME</th>
              <th>Nº MISSED VOTES</th>
              <th>% MISSED</th>
            </tr>
          </thead>

          <tbody id="topLoyal">
            <tr v-for="(cadaUn, key) in ordenadoM" v-if="key < (ordenadoM.length*0.10)">


              <td><a v-bind:href="cadaUno.url">{{cadaUno.last_name}} {{cadaUno.first_name}} {{cadaUno.middle_name}}</a></td>
              <td>{{cadaUn.total_votes}}</td>
              <td>{{cadaUn.votes_with_party_pct}}</td>


            </tr>
          </tbody>
        </table>
      </article>
    </div>
  </section>
  <br><br><br>


  <footer class="fixed-bottom container text-dark bg-light text-center shadow">
    <h3>2016 TGIF | All Rights Reserved</h3>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript" src="script/senateLoyal.js"></script>
</body>

</html>